/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #ADD8E6;
    height: 80px;
}

#logo {
    background-color: #DAA520;
    height: 70%;
    width: 200px;
    border: black dashed 4px;
}

.link {
    background-color: #DAA520;
    height: 70%;
    width: 800px;
    border: black dashed 4px;
}

.login {
    background-color: #DAA520;
    height: 70%;
    width: 200px;
    border: black dashed 4px;
}

.section1 {
    background-color: #00008B;
    height: 550px;
    border-bottom: solid 5px #ADD8E6;
}

.container1 {
    background-color: #EE82EE;
    height: 430px;
    width: 900px;
    border: black dashed 4px;
}

.section2 {
    background-color: white;
    height: 650px;
    flex-direction: row;
}

.container2 {
    background-color: #1E90FF;
    height: 80%;
    width: 50%;
    border: black dashed 4px;
}

.container3 {
    background-color: #FFC0CB;
    height: 80%;
    width: 30%;
    border: black dashed 4px;
}

.section3 {
    background-color: #D3D3D3;
    height: 650px;
    flex-direction: row-reverse;  
}

.section4 {
    background-color: #D3D3D3;
    height: 1300px;
    display: flex;
}

.section4 {
    background-color: #228B22;
    height: 80%;
    width: 80%;
    border: black dashed 4px;
}

.section5 {
    background-color: #23272A;
    height: 650px;
    flex-direction: row;
    border-bottom: solid 5px white;
}

.column1 {
    background-color: #F08080;
    height: 80%;
    width: 25%;
    border: black dashed 4px;
}

.column2 {
    background-color: #20B2AA;
    height: 80%;
    width: 10%;
    border: white dashed 4px;
}

footer {
    background-color: #23272A;
    height: 80px;
}